<footer class="py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start">
        <small class="text-muted content mb-0">{{site.Params.copyright | markdownify}}</small>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <ul class="list-inline footer-menu">
          {{ range site.Menus.footer }}
          <li class="list-inline-item"><a {{if findRE `^http` .URL}}target="_blank" rel="noopener" {{end}} href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{.URL}}{{else}}{{.URL | relLangURL}}{{end}}">{{.Name}}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</footer>