{{ define "main" }}

<section class="section-sm pt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 mx-auto text-center mb-4">
        <h1 class="mb-3">{{.Title | markdownify | title}}</h1>
        {{ with .Params.description}}<p class="lead mb-4">{{. | markdownify}}</p>{{ end }}
        <!-- tags -->
        {{ if isset site.Taxonomies "tags" }}
        {{ if not (eq (len site.Taxonomies.tags) 0) }}
        <ul class="list-inline category-list mb-5">
          {{ range $name, $items := site.Taxonomies.tags }}
          <li class="list-inline-item"><a href="{{ `tags/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize | title }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
        {{ end }}
        <!-- search box -->
        <form name="search-form">
          <div class="input-group search-form w-md-50 mb-5 mx-auto">
            <span class="input-group-text">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g data-name="Layer 2">
                  <g data-name="search">
                    <rect width="24" height="24" opacity="0" />
                    <path
                      d="M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z" />
                  </g>
                </g>
              </svg>
            </span>
            <input type="search" placeholder="Search here..." aria-label="search" id="search-by" name="s">
          </div>
        </form>
      </div>
      <!-- start post range -->
      {{ $paginator:= .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
      <div class="col-md-4 col-sm-6 mb-4">
        {{ .Render "byte" }}
      </div>
      {{ end }}
      <div class="col-12">
        <!-- pagination -->
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>

{{ end }}